---
import { Image } from 'astro:assets';
---

<a href="#"
    class="bg-red-500 rounded-2xl p-8 w-fit flex gap-4 items-center relative"
>
    <Image src="https://images.pexels.com/photos/4761672/pexels-photo-4761672.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" width="224" height="224" />
    <div class="card-content">
        <p>WEB DESIGNER</p>
        <h3>DAVID HENDERSON</h3>
        <p>I am a Web Designer based in San Francisco</p>
    </div>
    <Image class="absolute bottom-6 right-6 rounded-tl-2xl rounded-br-2xl" src="/images/icon.svg" alt="icon" width="46" height="42" />
</a>