---

---

<a href={"/"}
    class="bg-gradient-to-br from-zinc-800 to-zinc-900 border-2 border-[hsl(0,0%,100%,0.05)] rounded-3xl py-2 px-4 w-full flex items-center justify-center max-h-fit"
>
    <div class="w-full flex flex-col items-center justify-center">
        <slot />
    </div>
</a>